<<h3>Edit Employee</h3>
<div class="container">
    @{ Html.BeginForm();}
    <div class="row">
        <div class="col-lg-3">
            @Html.Label("Enter Employee Name")
        </div>
        <div class="col-lg-3">
            @Html.TextBox("Ename", (string)ViewBag.Name)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            @Html.Label("Enter Employee salary")
        </div>
        <div class="col-lg-3">
            @Html.TextBox("ESalary", (decimal)ViewBag.ESalary)
            @Html.Hidden("EId", (int)ViewBag.EId)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
            <input type="submit" value="Update" class="btn btn-warning" />
        </div>
    </div>
    @{Html.EndForm();}
</div>
